{{define "Index"}}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rasteration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">Rasteration</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="input-group">
                        <select class="custom-select" id="database-selector" style="min-width: 200px;" onchange="changeDatabase(this)">
                            <option value="test" selected>Teste</option>
                            <option value="production">Produção</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button" id="change-css-button" onclick="executeQuery()" title="Rodar migrations"><i class="fas fa-database"></i></button>
                        </div>
                    </div>
                </li>
            </ul>
            <button type="button" class="btn btn-outline-success ml-auto btn-save-query" title="Salvar query" onclick="saveMigration()"><i class="far fa-save" style="font-size: 20px"></i></button>
        </div>        
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <ul class="list-group" style="height: calc(100vh - 94px); overflow-y: auto;">
                    {{range $index, $element := .Queries}}
                    <li class="list-group-item list-group-item-action position-relative d-flex align-items-center" id="migration_{{$index}}" style="cursor: pointer; padding-right: 30px;">
                        {{if $element.ExecutedOnTest}}
                            <div title="Executado em teste" style="padding-right: 5px; line-height: 15px;">
                                <i class="fas fa-check" style="color: green"></i>
                            </div>
                        {{end}}
                        {{if not $element.ExecutedOnTest}}
                            <div title="Não executado em teste" style="padding-right: 5px; line-height: 15px;">
                                <i class="fas fa-check" style="color: lightgray"></i>
                            </div>
                        {{end}}
                        {{if $element.ExecutedOnProduction}}
                            <div title="Executado em produção" style="padding-right: 5px; line-height: 15px;">
                                <i class="fas fa-check" style="color: green"></i>
                            </div>
                        {{end}}
                        {{if not $element.ExecutedOnProduction}}
                            <div title="Não executado em produção" style="padding-right: 5px; line-height: 15px;">
                                <i class="fas fa-check" style="color: lightgray"></i>
                            </div>
                        {{end}}
                        <div onclick="selectMigration({{$index}})">
                            {{$element.CreatedAt}} | {{$element.Name}}
                        </div>
                        {{if and (not $element.ExecutedOnTest) (not $element.ExecutedOnProduction)}}
                            <button type="button" title="Excluir" class="position-absolute btn btn-default" style="right: 5px; top: calc(50%-15px); padding: 4px; line-height: 15px;" onclick="deleteMigration({{$index}})">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        {{end}}
                    </li>
                    {{end}}
                </ul>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item col-6 p-0 text-center"><a class="page-link" href="#{{.Previous_page}}"><i class="fas fa-chevron-left"></i></a></li>
                        <li class="page-item col-6 p-0 text-center"><a class="page-link" href="#{{.Next_page}}"><i class="fas fa-chevron-right"></i></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-12 col-sm-6 col-md-8">
                <input type="text" max="250" id="migration-name" placeholder="Nome da migration" class="w-100" style="margin-bottom: 10px;" class="form-control">
                <textarea id="print-query" class="form-control" name="query" id="query"
                    style="width: 100%; overflow-y: scroll; resize: none;"
                    placeholder="Insira a query aqui"></textarea>
            </div>
        </div>
    </div>
    <footer>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/sql/sql.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/addon/hint/sql-hint.js"></script>
        <script scr="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
    </footer>

    <style>
        .list-group-item {
            font-size: 13px;
            padding: 5px;
        }

        .selected{
            background-color: #f8f9fa;
        }

        .CodeMirror{
            height: calc(100vh - 96px)
        }

        .pagination{
            margin: 0px;
        }
        
        @media screen and (max-width: 768px) {
            .input-group, .btn-save-query{
                margin-top: 5px;
            }
        }
    </style>

    <script>
        const obj = {{.Json }} // Retorna todas as migrations já executadas

        function selectMigration(migrationId) {
            document.querySelector('#migration-name').value = obj[migrationId].Name;
            editor.setValue(obj[migrationId].Query);

            $('.list-group-item').removeClass('selected');
            $('#migration_'+migrationId).addClass('selected');
        }

        function changeDatabase(evt) {
            const button = document.querySelector('#change-css-button')

            if(evt.value == 'test'){
                button.classList.remove('btn-outline-danger')
                button.classList.add('btn-outline-success')
                return
            }
            button.classList.remove('btn-outline-success')
            button.classList.add('btn-outline-danger')
        }

        // Monta textarea do tipo SQL
        var editor = CodeMirror.fromTextArea(document.querySelector('#print-query'), {
            lineNumbers: true,
            mode: "text/x-sql"
        });

        let migrationsToRunTest = "";
        let migrationsToRunProduction = "";
        obj.forEach((item, index) => {
            if (item.ExecutedOnTest == 0) {
                migrationsToRunTest  += `
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="${item.Codigo}" id="checkbox${item.Codigo}">
                        <label class="form-check-label" for="checkbox${item.Codigo}">
                            ${item.CreatedAt} | ${item.Name}
                        </label>
                    </div>
                `;
            }
            if (item.ExecutedOnProduction == 0) {
                migrationsToRunProduction  += `
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="${item.Codigo}" id="checkbox${item.Codigo}">
                        <label class="form-check-label" for="checkbox${item.Codigo}">
                            ${item.CreatedAt} | ${item.Name}
                        </label>
                    </div>
                `;
            }
        });

        // Verifica qual opção de banco de dados foi selecionada
        function executeQuery() {
            const selectedDatabase = document.querySelector('#database-selector').value

            if (selectedDatabase == "test") {
                runOnTest()
                return
            }
            runOnProduction()
        }

        // Executa query no BD de teste
        function runOnTest() {
            let checkedMigrations = [];
            Swal.fire({
                title: 'Selecione as migrations que deseja executar em TESTE',
                html: "Você irá atualizar o banco de dados de TESTE com todas as migrations ainda não executadas! <br><br>" + migrationsToRunTest,
                focusConfirm: false,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, pode confiar!',
                preConfirm: () => {
                    obj.forEach((item, index) => {
                        if (document.getElementById(`checkbox${item.Codigo}`) && document.getElementById(`checkbox${item.Codigo}`).checked) {
                            checkedMigrations.push(item.Codigo.toString());
                        }
                    });
                }
            }).then((response) => {
                if(response.dismiss){
                    return false;
                }
                $.ajax({
                    method: "POST",
                    url: "/update-test",
                    data: {
                        migrationsToRun: JSON.stringify(checkedMigrations)
                    }
                }).then((result) => {
                    if (result == "true") {
                        Swal.fire(
                            'Atualizado!',
                            'Tadeu, dessa vez vc rodou o truncade na teste.',
                            'success'
                        )
                    } else {
                        Swal.fire(
                            'Tadeu, tu já fez cagada no BD de teste',
                            result,
                            'error'
                        )
                    }
                }).catch(function (jqXHR, textStatus, msg) {
                    Swal.fire(
                        'Tadeu, tu já fez cagada no BD de teste',
                        msg,
                        'error'
                    )
                });
            });
        }

        // Executa migrations no BD de produção
        function runOnProduction() {
            let checkedMigrations = [];
            Swal.fire({
                title: 'Selecione as migrations que deseja executar em PRODUÇÃO',
                html: "Você irá atualizar o banco de dados de PRODUÇÃO com todas as migrations ainda não executadas! <br><br>" + migrationsToRunProduction,
                focusConfirm: false,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, pode confiar!',
                preConfirm: () => {
                    obj.forEach((item, index) => {
                        if (document.getElementById(`checkbox${item.Codigo}`) && document.getElementById(`checkbox${item.Codigo}`).checked) {
                            checkedMigrations.push(item.Codigo.toString());
                        }
                    });
                }
            }).then((response) => {
                if(response.dismiss){
                    return false;
                }
                $.ajax({
                    method: "POST",
                    url: "/update-production",
                    data: {
                        migrationsToRun: JSON.stringify(checkedMigrations)
                    }
                }).then((result) => {
                    if (result == "true") {
                        Swal.fire(
                            'Atualizado!',
                            'Tadeu, você rodou truncade no BD de produção.',
                            'success'
                        )
                    } else {
                        Swal.fire(
                            'Tadeu, tu já fez cagada',
                            result,
                            'error'
                        )
                    }
                }).catch(function (jqXHR, textStatus, msg) {
                    Swal.fire(
                        'Tadeu, tu já fez cagada',
                        msg,
                        'error'
                    )
                });
            })
        }

        // Salva a query em uma nova migration
        function saveMigration() {
            if (editor.getValue() != '' && document.querySelector('#migration-name').value != '') {
                Swal.fire({
                    title: 'Você tem certeza?',
                    text: "Você irá salvar a sua query em uma migration, mas não será executada em lugar nenhum",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sim, pode confiar!'
                }).then((response) => {
                    if(response.dismiss){
                        return false;
                    }
                    
                    $.ajax({
                        method: "POST",
                        url: "/save-migration",
                        data: {
                            title: document.querySelector('#migration-name').value,
                            query: editor.getValue()
                        }
                    }).then((result) => {
                        if (result == "true") {
                            Swal.fire(
                                'Criado!',
                                'Migration criada mas ainda não foi executada em nenhum BD.',
                                'success'
                            )
                            document.querySelector('#migration-name').value = "";
                            editor.setValue("");
                        } else {
                            Swal.fire(
                                'Erro ao salvar migration.',
                                result,
                                'error'
                            )
                        }
                    }).catch(function (jqXHR, textStatus, msg) {
                        Swal.fire(
                            'Erro ao salvar migration.',
                            msg,
                            'error'
                        )
                    });
                })
            } else {
                Swal.fire(
                    'O campo de nome ou código está vazio',
                    'Verifique se o campo de nome ou de código fonte foram corretamente preenchidos e tente novamente',
                    'info'
                )
            }
        }

        function deleteMigration(index) {
            Swal.fire({
                title: 'Você tem certeza?',
                text: `Você irá excluir a migration "${obj[index].Name}". Essa ação é irreversível!`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, pode deletar!'
            }).then((response) => {
                if(response.dismiss){
                    return false;
                }
                
                $.ajax({
                    method: "DELETE",
                    url: "/delete-migration?id="+obj[index].Codigo
                }).then((result) => {
                    if (result == "true") {
                        Swal.fire(
                            'Excluído!',
                            'Migration excluída com sucesso.',
                            'success'
                        )
                        setTimeout(() => {
                            window.location.reload();
                        }, 1100);
                    } else {
                        Swal.fire(
                            'Erro ao excluir migration.',
                            result,
                            'error'
                        )
                    }
                }).catch(function (jqXHR, textStatus, msg) {
                    Swal.fire(
                        'Erro ao excluir migration.',
                        msg,
                        'error'
                    )
                });
            });
        }
    </script>
</body>

</html>
{{end}}